* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: 700;
}
.newsletter__form-input::-moz-placeholder, .form-search__content-input::-moz-placeholder {
  font-family: "Inter";
  font-weight: 300;
}
.card-product__title, body, .newsletter__form-input::placeholder, .form-search__content-input::placeholder, .newsletter__form-input, .form-search__content-input {
  font-family: "Inter";
  font-weight: 300;
}

.footer__copy-text, .footer__copy-link, .newsletter__form-check-text, .news-card__link, .news-card__review, .news-card__data, .news__all, .mountainBibe-card__text, .mountainBibe__item-text, .video__text, .card-product__character, .sub-menu__link, .menu__link, .header__addInfo-link {
  font-family: "Inter";
  font-weight: 400;
}

.footer-menu__text, .advantages-card__link, .advantages-card__title, .mountainBibe-card__title, .video__item-title, .video__text-link, .card-product__price, .top-swiperSmall__text, .counter__text, .counter__up, .counter__down, .popupCart__summ-num, .popupCart__summ-text, .popupCart__number-num, .popupCart__summWithDiscount-num, .popupCart__discount-num, .popupCart__discount-num-current, .popupCart__summ-num-current, .popupCart__summWithDiscount-current, .popupCart__number-text, .popupCart__summWithDiscount-text, .popupCart__discount-text, .popupCart__numberbox, .popupCart__summWithDiscountbox, .popupCart__discountbox, .popupCart__summ, .popupCart__item-price, .popupCart__product-text-btn, .popupCart__product-text-link, .newsletter__form-btn, .mountainBibe__item-link, .card-product__addCar, .top-swiperBig__link, .popupCart__link {
  font-family: "Inter";
  font-weight: 500;
}

.newsletter__title, .contact__title, .news__title, .equipment__title, .advantages__title, .mountainBibe__title, .model__title, .video__title, .catalogy-card__title, .catalogy__title, .new__title, .top-swiperSmall__text, .top-swiperBig__title, .popupSubscription__title, .header__addInfo-text {
  font-family: "Bebas Neue";
  font-weight: 400;
}

.newsletter__title, .contact__title, .news__title, .equipment__title, .advantages__title, .mountainBibe__title, .model__title, .video__title, .catalogy-card__title, .catalogy__title, .new__title, .top-swiperSmall__text, .top-swiperBig__title, .popupSubscription__title, .header__addInfo-text {
  font-size: clamp(3.125rem, 2.774rem + 1.5vw, 4rem);
  color: #101010;
  line-height: 1.23;
  letter-spacing: 5%;
}

.video__play, .video__box, .newsletter__form-input, .form-search__content-input, .newsletter__form-btn:before, .mountainBibe__item-link:before, .card-product__addCar:before, .top-swiperBig__link:before, .popupCart__link:before, .newsletter__form-btn, .mountainBibe__item-link, .card-product__addCar, .top-swiperBig__link, .popupCart__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter__form-btn, .mountainBibe__item-link, .card-product__addCar, .top-swiperBig__link, .popupCart__link {
  min-height: 52px;
  border: 1px #f57520 solid;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #f57520;
  color: #fff;
  transition: all 0.5s;
  font-size: 16px;
  line-height: 1.26;
  position: relative;
  overflow: hidden;
}
.newsletter__form-btn span, .mountainBibe__item-link span, .card-product__addCar span, .top-swiperBig__link span, .popupCart__link span {
  transform: translateX(0);
  transition: all 0.6s;
}
.newsletter__form-btn:before, .mountainBibe__item-link:before, .card-product__addCar:before, .top-swiperBig__link:before, .popupCart__link:before {
  content: attr(title);
  position: absolute;
  width: 100%;
  height: 100%;
  color: inherit;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: all 0.6s;
}
.newsletter__form-btn:hover, .mountainBibe__item-link:hover, .card-product__addCar:hover, .top-swiperBig__link:hover, .popupCart__link:hover {
  border-radius: 15px;
}
.newsletter__form-btn:hover:before, .mountainBibe__item-link:hover:before, .card-product__addCar:hover:before, .top-swiperBig__link:hover:before, .popupCart__link:hover:before {
  transform: translateX(0);
}
.newsletter__form-btn:hover span, .mountainBibe__item-link:hover span, .card-product__addCar:hover span, .top-swiperBig__link:hover span, .popupCart__link:hover span {
  transform: translateX(400%);
}

.newsletter__form-input, .form-search__content-input {
  padding: 0 20px 0 20px;
  border: 1px #fff solid;
  border-radius: 10px;
  min-height: 46px;
  background-color: #fff;
  color: #b3b3b3;
  transition: all 0.2s;
}
.newsletter__form-input::-moz-placeholder, .form-search__content-input::-moz-placeholder {
  color: #b3b3b3;
  font-size: 16px;
  line-height: 1.26;
}
.newsletter__form-input::placeholder, .form-search__content-input::placeholder {
  color: #b3b3b3;
  font-size: 16px;
  line-height: 1.26;
}
.newsletter__form-input:focus, .form-search__content-input:focus {
  box-shadow: 3px 3px 3px #fff;
}

.open--menu,
.open--filter,
.open--cart,
.open--placingModel,
.open--popupSubscription {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}
body:before {
  content: "";
  position: fixed;
  z-index: 2;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: left;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
body.open--menu:before {
  visibility: visible;
  opacity: 1;
  transform-origin: right;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  min-width: 100%;
  padding: 20px 0;
  z-index: 2;
}
.header--color {
  background-color: #101010;
}
.header__inner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__logo {
  position: relative;
  z-index: 1000;
}
.header__logo svg path {
  transition: all 1s;
}
@media screen and (max-width: 600px) {
  .header__logo svg {
    width: 100%;
    height: auto;
  }
  .header__logo.black svg path {
    fill: #101010;
  }
}
.header__info {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}
.header__info-like, .header__info-basket {
  position: relative;
}
.header__info-person, .header__info-like, .header__info-basket {
  display: flex;
}
.header__info-basket {
  background-color: transparent;
}
.header__info-like-decor, .header__info-basket-decor {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #f57520;
  border-radius: 50%;
  right: -1px;
  top: -1px;
}
.header__addInfo {
  margin-left: auto;
}
.header__addInfo-list {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 40px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 0.7s;
  z-index: 999;
}
.header__addInfo-list.active {
  transform: translateX(0);
}
.header__addInfo-list-btn {
  background-color: transparent;
  margin: 0;
  padding: 15px;
  position: relative;
  margin-bottom: 70px;
  margin-left: auto;
}
.header__addInfo-list-btn:before, .header__addInfo-list-btn:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #b3b3b3;
  left: 0;
}
.header__addInfo-list-btn:before {
  top: 50%;
  transform: translateY(-50%);
  rotate: 45deg;
}
.header__addInfo-list-btn:after {
  bottom: 50%;
  transform: translateY(50%);
  rotate: -45deg;
}
.header__addInfo-btn {
  display: flex;
  width: 32px;
  height: 18px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
}
.header__addInfo-btn:before, .header__addInfo-btn:after {
  position: absolute;
  content: "";
  height: 2px;
  right: 0;
  background-color: #fff;
}
.header__addInfo-btn:before {
  top: 0;
  width: 100%;
}
.header__addInfo-btn:after {
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}
.header__addInfo-btn span {
  position: absolute;
  height: 2px;
  right: 0;
  background-color: #fff;
  width: 70%;
  bottom: 0;
}
.header__addInfo-list {
  overflow-y: auto;
  overflow-x: hidden;
}
.header__addInfo-text {
  font-size: 40px;
  margin-bottom: 40px;
}
.header__addInfo-itembox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.header__addInfo-item {
  position: relative;
}
.header__addInfo-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #f57520;
  scale: 0;
  transform-origin: right;
  transition: scale 0.6s;
}
.header__addInfo-item:hover:before {
  scale: 1;
  transform-origin: left;
}
.header__addInfo-link {
  font-size: 18px;
  color: #000;
}
@media (max-width: 1279px) {
  .header__addInfo-text {
    display: none;
  }
  .header__addInfo-list {
    min-width: auto;
  }
  .header__addInfo-list-btn {
    margin-bottom: 54px;
  }
  .header__addInfo-itembox {
    padding-left: 16px;
  }
  .header__addInfo {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .header__addInfo-list {
    left: 0;
  }
}
@media (max-width: 550px) {
  .header__inner {
    position: relative;
  }
}

.form-search {
  position: relative;
}
.form-search__btn {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
}
.form-search__btn-xmark {
  width: 24px;
  display: none;
}
.form-search__btn.xmark .form-search__btn-search {
  display: none;
}
.form-search__btn.xmark .form-search__btn-xmark {
  display: block;
}
.form-search__content {
  position: absolute;
  right: -9px;
  bottom: -50px;
  display: flex;
  align-items: center;
  scale: 0;
  transition: all 0.6s;
}
.form-search__content.active {
  scale: 1;
}
.form-search__content.clear .form-search__content-clear {
  scale: 1;
  opacity: 1;
}
.form-search__content-input {
  background-color: #101010;
  border: 1px solid #4c4c4c;
  padding-right: 70px;
}
.form-search__content-input:focus {
  transition: all 0.2s;
  box-shadow: 3px 3px 3px #4c4c4c;
}
.form-search__content-decor {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.form-search__content-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  transform: translateY(2px);
}
.form-search__content-clear {
  cursor: pointer;
  width: 14px;
  height: 14px;
  scale: 0;
  opacity: 0;
  position: relative;
  transition: all 0.6s;
}
.form-search__content-clear:before, .form-search__content-clear:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
.form-search__content-clear:before {
  top: 50%;
  transform: translateY(-65%);
  rotate: 45deg;
}
.form-search__content-clear:after {
  bottom: 50%;
  transform: translateY(63%);
  rotate: -45deg;
}
@media (max-width: 550px) {
  .form-search {
    position: static;
  }
  .form-search__content {
    right: 0;
  }
}

.menu {
  margin-left: auto;
}
.menu__burger {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}
.menu__list--media {
  display: none;
}
.menu__item {
  position: relative;
  padding-right: 20px;
}
.menu__item--list {
  padding-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__item:hover .sub-menu__list {
  opacity: 1;
  visibility: visible;
}
.menu__item:hover .menu__link-arrow {
  rotate: 0deg;
}
.menu__link {
  color: #fff;
  position: relative;
  background-color: transparent;
}
.menu__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  background-color: #f57520;
  scale: 0;
  transform-origin: right;
  transition: scale 0.6s;
}
.menu__link:hover:before {
  scale: 1;
  transform-origin: left;
}
.menu__link-arrow {
  cursor: pointer;
  display: flex;
  width: 15px;
  height: 15px;
  rotate: 180deg;
  transition: all 1s;
}
.menu__link-arrow svg {
  width: 15px;
  height: 15px;
}
@media (max-width: 1279px) {
  .menu__list {
    display: none;
  }
  .menu__list--media {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .menu__link {
    color: #101010;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 500;
    margin-right: auto;
  }
  .menu__item {
    padding-right: 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
  }
  .menu__item--list {
    margin-top: 0;
    flex-direction: column;
    gap: 0;
  }
  .menu__item:hover .menu__link-arrow {
    rotate: 180deg;
  }
  .menu__item-question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .menu__item-question.open .menu__link-arrow {
    rotate: 0deg;
  }
  .menu__link-arrow {
    width: 20px;
    height: 18px;
    rotate: 180deg;
  }
  .menu__link-arrow svg {
    width: 20px;
    height: 18px;
  }
  .menu__link-arrow svg path {
    fill: #101010;
  }
}

.sub-menu__list {
  position: absolute;
  left: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  background-color: #101010;
  padding: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 10px 20px;
  border: 1px solid #4c4c4c;
  min-width: 500px;
}
.sub-menu__link {
  color: #fff;
  position: relative;
}
.sub-menu__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  background-color: #f57520;
  scale: 0;
  transform-origin: right;
  transition: scale 0.6s;
}
.sub-menu__link:hover:before {
  scale: 1;
  transform-origin: left;
}
@media (max-width: 1279px) {
  .sub-menu__list {
    position: static;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #4c4c4c;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    max-height: 0;
    overflow: hidden;
    min-width: auto;
    width: 100%;
    transition: max-height 1s, padding 1s;
    box-sizing: content-box;
  }
  .sub-menu__link {
    color: #4c4c4c;
  }
}

.popupSubscription {
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  scale: 0;
}
.popupSubscription.open {
  scale: 1;
}
.popupSubscription.open .popupSubscription__inner {
  transform: translateY(0%);
}
.popupSubscription__inner {
  transform: translateY(-100%);
  transition: all 0.8s;
}
.popupSubscription__content {
  padding: clamp(1.563rem, 1.506rem + 1.21vw, 2.5rem) 25px clamp(2.5rem, 2.443rem + 1.21vw, 3.438rem) 25px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.popupSubscription__close {
  display: inline-block;
  width: 26px;
  height: 24px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 40px;
}
.popupSubscription__close:before, .popupSubscription__close:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b3b3b3;
}
.popupSubscription__close:before {
  top: 50%;
  transform: translateY(-50%);
  rotate: 45deg;
}
.popupSubscription__close:after {
  bottom: 50%;
  transform: translateY(50%);
  rotate: -45deg;
}
.popupSubscription__arrow {
  display: inline-block;
  width: clamp(4.5rem, 4.401rem + 2.11vw, 6.125rem);
  height: clamp(4.5rem, 4.401rem + 2.11vw, 6.125rem);
  border-radius: 50%;
  background-color: #f57520;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto clamp(1.5rem, 1.47rem + 0.65vw, 2rem);
}
.popupSubscription__arrow:before {
  position: absolute;
  content: "";
  width: clamp(2.625rem, 2.541rem + 1.78vw, 4rem);
  height: clamp(1.938rem, 1.854rem + 1.78vw, 3.313rem);
  background-repeat: no-repeat;
  background-image: url(../img/icon/checkSubscription.svg);
  background-size: contain;
}
.popupSubscription__title {
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .popupSubscription__title {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .popupSubscription__title {
    font-size: 32px;
  }
}

.popupCart {
  padding: 150px 0;
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  scale: 0;
}
.popupCart.open {
  scale: 1;
}
.popupCart.open .popupCart__inner {
  scale: 1;
}
.popupCart__inner {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  scale: 0;
  transition: all 0.8s;
}
.popupCart__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  position: relative;
}
.popupCart__close:before, .popupCart__close:after {
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #101010;
}
.popupCart__close:before {
  top: 50%;
  transform: translateY(-50%);
  rotate: 45deg;
}
.popupCart__close:after {
  bottom: 50%;
  transform: translateY(50%);
  rotate: -45deg;
}
.popupCart__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}
.popupCart__product {
  flex-basis: 950px;
  display: flex;
  flex-direction: column;
}
.popupCart__product-textbox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.popupCart__product-text-link {
  font-size: 18px;
  color: #101010;
  background-color: transparent;
}
.popupCart__product-text-btn {
  background-color: transparent;
  font-size: 18px;
  color: #101010;
}
.popupCart__item {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.popupCart__item-img {
  -o-object-fit: contain;
     object-fit: contain;
}
.popupCart__item-title {
  color: #101010;
  flex-basis: 200px;
  flex-shrink: 0;
}
.popupCart__item-price {
  font-size: 20px;
  color: #101010;
  text-transform: uppercase;
}
.popupCart__itog {
  padding: 32px 24px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  flex-basis: 290px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.popupCart__numberbox, .popupCart__summWithDiscountbox, .popupCart__discountbox, .popupCart__summ {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 24px;
}
.popupCart__summWithDiscount-numbox, .popupCart__discount-numbox, .popupCart__summ-numbox {
  display: flex;
  align-items: center;
  gap: 3px;
}
.popupCart__number-text, .popupCart__summWithDiscount-text, .popupCart__discount-text {
  color: #101010;
  flex-basis: 50%;
}
.popupCart__number-num, .popupCart__summWithDiscount-num, .popupCart__discount-num, .popupCart__discount-num-current, .popupCart__summ-num-current, .popupCart__summWithDiscount-current {
  color: #101010;
}
.popupCart__summ {
  padding-top: 24px;
  border-top: 1px solid #f8f8f8;
}
.popupCart__summ-text {
  font-size: 24px;
  color: #101010;
  flex-basis: 50%;
}
.popupCart__summ-num {
  text-transform: uppercase;
  font-size: 24px;
  color: #101010;
}
.popupCart__item-close {
  width: 16px;
  height: 19px;
  background-color: transparent;
  position: relative;
}
.popupCart__item-close:before, .popupCart__item-close:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b3b3b3;
}
.popupCart__item-close:before {
  top: 50%;
  transform: translateY(-50%);
  rotate: 45deg;
}
.popupCart__item-close:after {
  bottom: 50%;
  transform: translateY(50%);
  rotate: -45deg;
}
.popupCart .counter {
  min-height: 52px;
}
@media (max-width: 1023px) {
  .popupCart__content {
    flex-direction: column;
  }
  .popupCart__product {
    flex-basis: auto;
    width: 100%;
  }
  .popupCart__itog {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .popupCart__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 20px 0;
  }
  .popupCart__item-price {
    text-align: center;
  }
  .popupCart__item-close {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .popupCart .counter {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .popupCart__item-img {
    width: 100%;
    height: auto;
  }
  .popupCart__product-text-link, .popupCart__product-text-btn {
    font-size: 16px;
  }
}

.counter {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 123px;
}
.counter__up, .counter__down {
  cursor: pointer;
  font-size: 24px;
  color: #101010;
}
.counter__up {
  padding-right: 5px;
}
.counter__down {
  padding-left: 5px;
}
.counter__text {
  width: 100%;
  text-align: center;
  color: #101010;
}
@media (max-width: 500px) {
  .counter {
    order: 0;
    height: 52px;
    flex: 1;
    width: auto;
  }
}

.top {
  padding: 180px 0 0;
}
@media (max-width: 1400px) {
  .top {
    background-position: center;
  }
}

.top-swiperBig {
  margin-bottom: clamp(2.5rem, 1.898rem + 2.57vw, 4rem);
  padding-bottom: clamp(2.5rem, -0.333rem + 12.09vw, 9.563rem);
  position: relative;
  z-index: 1;
}
.top-swiperBig.container {
  padding-right: 0;
  padding-left: 0;
}
.top-swiperBig__content {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1.799rem + 0.86vw, 2.5rem);
  max-width: 680px;
  align-items: flex-start;
}
.top-swiperBig__title {
  font-size: clamp(3.75rem, 2.497rem + 5.35vw, 6.875rem);
  color: #fff;
}
.top-swiperBig__text {
  font-size: 18px;
}
.top-swiperBig__slide {
  padding: 0 15px;
}
.top-swiperBig .swiper-slide {
  cursor: grab;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #4c4c4c;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f57520;
}

.top-swiperSmall__slide {
  background-color: #131313;
  padding: clamp(1.5rem, 0.898rem + 2.57vw, 3rem) 20px;
  text-align: center;
  border-radius: 10px;
  cursor: grab;
  transition: scale 0.6s;
  height: 100%;
}
.top-swiperSmall__slide:hover {
  scale: 1.05;
}
.top-swiperSmall__slide:hover .top-swiperSmall__link {
  opacity: 1;
}
.top-swiperSmall__text {
  color: #fff;
  font-size: clamp(1.125rem, 0.975rem + 0.64vw, 1.5rem);
}
.top-swiperSmall__link {
  opacity: 0;
  transition: all 0.3s;
  color: #f57520;
}
.top-swiperSmall .swiper-wrapper {
  align-items: stretch;
}
.top-swiperSmall .swiper-slide {
  height: auto;
}

.partners {
  padding: clamp(0rem, -1.278rem + 5.45vw, 3.188rem) 0;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  animation: swiperPartners 30s linear infinite;
}

@keyframes swiperPartners {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.new {
  padding: clamp(2.5rem, 1.297rem + 5.13vw, 5.5rem) 0 clamp(2.5rem, 1.999rem + 2.14vw, 3.75rem);
  background-color: #f8f8f8;
}
.new__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1.047rem + 4.06vw, 4.375rem);
  align-items: flex-start;
}
.new__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.new__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.new__items.more .new__item:nth-child(-n+999) {
  display: block;
}
.new__item {
  display: none;
}
.new__item:nth-child(-n+3) {
  display: block;
}
.new__more {
  color: #777;
  background-color: transparent;
  font-size: 16px;
  margin: 0 auto;
}
@media (max-width: 1310px) {
  .new__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .new__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-product {
  background-color: #fff;
  border-radius: 10px;
}
.card-product:hover .card-product__img img {
  scale: 1.2;
  transform: translate(30px, -10px);
}
.card-product__info {
  padding: 16px 16px 20px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-product__imgbox {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.card-product__img {
  overflow: hidden;
  text-align: center;
}
.card-product__img img {
  transition: all 0.6s;
}
.card-product__country {
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0;
  left: 0;
}
.card-product__character {
  margin-left: auto;
}
.card-product__character--sales {
  color: #f57520;
}
.card-product__character--noSales {
  color: #4d932c;
}
.card-product__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-product__title {
  display: inline-block;
  font-size: 18px;
  color: #101010;
  line-height: 160%;
  letter-spacing: 1%;
  margin-bottom: 16px;
  text-transform: capitalize;
  flex: 1;
}
.card-product__pricebox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-product__price {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}
.card-product__price--old {
  font-size: 14px;
  text-decoration: line-through;
}
.card-product__btns {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.card-product__addCar {
  padding: 0 40px;
}
@media (max-width: 900px) {
  .card-product__img img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .card-product__btns {
    flex-direction: column;
  }
  .card-product__addCar {
    width: 100%;
  }
  .card-product .counter {
    width: 100%;
    height: 52px;
  }
}
@media (max-width: 600px) {
  .card-product__img img {
    width: 288px;
    height: 238px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.catalogy {
  padding: clamp(3rem, 0.193rem + 11.98vw, 10rem) 0;
}
.catalogy__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 0.797rem + 5.13vw, 5rem);
  align-items: flex-start;
}
.catalogy__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalogy__items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  width: 100%;
}
.catalogy__items .catalogy-card--big {
  grid-column: span 12;
}
.catalogy__items .catalogy-card--sub {
  grid-column: span 4;
  grid-row: span 2;
}
.catalogy__items .catalogy-card--subsub {
  grid-column: span 4;
}
@media (max-width: 1023px) {
  .catalogy__items .catalogy-card--sub {
    grid-column: span 12;
    grid-row: span 1;
  }
  .catalogy__items .catalogy-card--subsub {
    grid-column: span 6;
  }
}

.catalogy-card {
  border-radius: 10px;
  padding: 40px;
  transition: all 0.5s;
}
.catalogy-card:hover {
  scale: 1.05;
}
.catalogy-card--accent {
  background-color: #f57520;
}
.catalogy-card--default {
  background-color: #101010;
}
.catalogy-card--bike {
  padding: 120px 42px 120px 80px;
  background-image: url(../img/catalogy/bike.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.catalogy-card--tradeIn {
  padding: 80px 98px 0 98px;
  background-image: url(../img/catalogy/tradeIn.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.catalogy-card--spareParts {
  padding: 67px 0 67px 40px;
  background-image: url(../img/catalogy/spareParts.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.catalogy-card--accessories {
  padding: 167px 67px 30px 40px;
  background-image: url(../img/catalogy/accessories.png);
  background-repeat: no-repeat;
  background-position: top;
}
.catalogy-card--equipment {
  padding: 40px 110px 0 40px;
  background-image: url(../img/catalogy/equipment.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.catalogy-card--bicycleStands {
  padding: 40px 110px 0 40px;
  background-image: url(../img/catalogy/bicycleStands.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.catalogy-card__title {
  color: #fff;
}
@media (max-width: 1023px) {
  .catalogy-card--tradeIn {
    padding: 120px 42px 120px 80px;
  }
}
@media (max-width: 767px) {
  .catalogy-card {
    padding: 16px 0 84px 16px;
  }
  .catalogy-card:hover {
    scale: 1;
  }
  .catalogy-card--bike, .catalogy-card--tradeIn {
    padding: 21px 0 76px 24px;
    background-size: contain;
  }
  .catalogy-card--tradeIn {
    background-position: right;
  }
  .catalogy-card__title {
    font-size: 30px;
  }
}

.video__content {
  margin-bottom: clamp(2rem, 0.797rem + 5.13vw, 5rem);
  display: flex;
  justify-content: space-between;
}
.video__title {
  flex-basis: 620px;
}
.video__textbox {
  flex-basis: 510px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.video__text {
  color: #101010;
}
.video__text-link {
  color: #b3b3b3;
}
.video__box {
  position: relative;
}
.video__play {
  position: absolute;
  width: clamp(4.188rem, 2.834rem + 5.78vw, 7.563rem);
  height: clamp(4.188rem, 2.834rem + 5.78vw, 7.563rem);
  border-radius: 50%;
  border: 1px solid #f57520;
}
.video__play svg {
  width: clamp(1.938rem, 1.286rem + 2.78vw, 3.563rem);
  height: clamp(2.25rem, 1.498rem + 3.21vw, 4.125rem);
  transform: translate(8px, 1px);
}
@media (max-width: 500px) {
  .video__play svg {
    transform: translate(5px, 1px);
  }
}
.video__items {
  background-color: #2e2e2e;
  padding: 36px 0;
}
.video__itembox {
  display: grid;
  grid-template-columns: 274px 280px 333px 264px;
  gap: 10px;
  justify-content: space-between;
}
.video__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.video__item-title {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
.video__item-title:before {
  position: absolute;
  content: "";
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.video__item-title--diamond:before {
  background-image: url(../img/video/icon/diamond.svg);
}
.video__item-title--check:before {
  background-image: url(../img/video/icon/check.svg);
}
.video__item-title--setting:before {
  background-image: url(../img/video/icon/setting.svg);
}
.video__item-title--delivery:before {
  background-image: url(../img/video/icon/delivery.svg);
}
.video__item-text {
  color: #fff;
}
@media (max-width: 1300px) {
  .video__itembox {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .video__content {
    flex-direction: column;
    gap: 32px;
  }
  .video__title, .video__textbox {
    flex-basis: auto;
  }
  .video__itembox {
    grid-template-columns: repeat(1, 1fr);
  }
  .video__img img {
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.model {
  padding: clamp(2.5rem, 1.497rem + 4.28vw, 5rem) 0;
  background-color: #101010;
  position: relative;
  overflow: hidden;
}
.model__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 10px;
}
.model__title {
  color: #fff;
  max-width: 420px;
}
.model .card-product {
  height: 100%;
}
.model .model-swiper {
  overflow: visible;
}
.model .swiper-wrapper {
  align-items: stretch;
}
.model .swiper-slide {
  height: auto;
}
.model .model-swiper__slide {
  height: 100%;
}
.model .card-product__title {
  flex: 1;
}
.model-swiper {
  position: relative;
}
.model-swiper__btnbox {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  left: 20px;
  right: 20px;
}
.model-swiper__btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.model-swiper__btn--next {
  rotate: -180deg;
}
@media (max-width: 600px) {
  .model-swiper__btnbox {
    display: flex;
    justify-content: space-between;
  }
}

.mountainBibe {
  padding: clamp(2.5rem, 0.194rem + 9.84vw, 8.25rem) 0 clamp(2.5rem, 1.497rem + 4.28vw, 5rem);
  background-color: #f8f8f8;
}
.mountainBibe__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 0.797rem + 5.13vw, 5rem);
  align-items: flex-start;
}
.mountainBibe__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mountainBibe__info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.mountainBibe__cards {
  flex-basis: 620px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: space-between;
  gap: 20px;
}
.mountainBibe__item {
  flex-basis: 510px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.mountainBibe__item-img {
  overflow: hidden;
  border-radius: 10px;
}
.mountainBibe__item-img img {
  border-radius: inherit;
}
.mountainBibe__item-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.mountainBibe__item-text {
  color: #4c4c4c;
}
.mountainBibe__item-link {
  padding: 0 56px;
}
@media (max-width: 1023px) {
  .mountainBibe__info {
    flex-direction: column;
  }
  .mountainBibe__cards {
    grid-template-columns: repeat(2, 1fr);
    flex-basis: auto;
  }
  .mountainBibe__item {
    flex-basis: auto;
    gap: 24px;
  }
  .mountainBibe__item-img {
    margin: 0 auto;
  }
  .mountainBibe__item-content {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .mountainBibe__cards {
    grid-template-columns: repeat(1, 1fr);
    flex-basis: auto;
  }
  .mountainBibe__item-img img {
    width: 100%;
    height: auto;
  }
}

.mountainBibe-card {
  border-radius: 10px;
  padding: 28px;
  background-color: #34312d;
  display: grid;
  gap: 25px;
  transition: all 0.6s;
}
.mountainBibe-card:hover {
  background-color: #27231e;
}
.mountainBibe-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mountainBibe-card__title {
  font-size: 20px;
  color: #fff;
}
.mountainBibe-card__content {
  display: grid;
  gap: 15px;
}
.mountainBibe-card__text {
  color: #fff;
}

.advantages {
  padding: clamp(3rem, 0.193rem + 11.98vw, 10rem) 0;
}
.advantages__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 0.797rem + 5.13vw, 5rem);
}
.advantages__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages__info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.advantages__img {
  width: 50%;
  border-radius: 10px;
}
.advantages__img img {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__cards {
  flex-basis: 620px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1170px) {
  .advantages__img {
    display: none;
  }
  .advantages__cards {
    width: 100%;
    flex-basis: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.advantages-card {
  border-radius: 10px;
  background-color: #f57520;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.advantages-card__title {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.advantages-card__text {
  margin-bottom: 8px;
  flex: 1;
}
.advantages-card__link {
  color: #fff;
}

.equipment {
  padding: clamp(2.5rem, 1.497rem + 4.28vw, 5rem) 0;
  background-color: #f8f8f8;
}
.equipment__content {
  margin-bottom: clamp(2rem, 0.797rem + 5.13vw, 5rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.equipment-swiper {
  position: relative;
}
.equipment-swiper__btnbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.equipment-swiper__btn {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  transition: all 0.6s;
}
.equipment-swiper__btn:hover {
  background-color: #f57520;
}
.equipment-swiper__btn:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 24px;
}
.equipment-swiper__btn--prev {
  transform: rotate(-180deg);
  margin-left: 20px;
}
.equipment-swiper__btn--next {
  margin-right: 20px;
}
.equipment-swiper__slide,
.equipment-swiper .card-product {
  height: 100%;
}
.equipment-swiper .swiper-wrapper {
  align-items: stretch;
}
.equipment-swiper .swiper-slide {
  height: auto;
}

.news {
  padding: clamp(3rem, 0.193rem + 11.98vw, 10rem) 0;
}
.news__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.news__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: clamp(2rem, 1.298rem + 2.99vw, 3.75rem);
}
.news__items {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 48px;
}
.news__items.more .news-card:nth-child(-n+999) {
  display: flex;
}
.news .news-card {
  display: none;
}
.news .news-card:nth-child(-n+3) {
  display: flex;
}
.news__all {
  background-color: transparent;
  color: #777;
  text-transform: uppercase;
  margin: 0 auto;
}
.news.news--page {
  padding: clamp(2rem, 1.599rem + 1.71vw, 3rem) 0 clamp(3rem, 0.193rem + 11.98vw, 10rem);
}
.news.news--page .news-card {
  display: none;
}
.news.news--page .news-card:nth-child(-n+6) {
  display: flex;
}
@media (max-width: 1300px) {
  .news__items {
    grid-template-columns: repeat(2, 400px);
    width: 100%;
    justify-content: space-evenly;
  }
  .news .news-card {
    display: none;
  }
  .news .news-card:nth-child(-n+4) {
    display: flex;
  }
}
@media (max-width: 900px) {
  .news__items {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 550px) {
  .news__items {
    grid-template-columns: repeat(1, auto);
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #101010;
}
.news-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  height: 100%;
}
.news-card__review {
  color: #f57520;
}
.news-card__text {
  font-size: 18px;
  color: #fff;
  flex: 1;
}
.news-card__link {
  color: #fff;
}
@media (max-width: 767px) {
  .news-card__content {
    padding: 14px 14px 32px 14px;
  }
}

.contact {
  padding: 0 0 clamp(3rem, 0.193rem + 11.98vw, 10rem);
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: clamp(2rem, 1.298rem + 2.99vw, 3.75rem);
}
.contact__items {
  display: grid;
  grid-template-columns: repeat(4, 215px);
  justify-content: space-between;
  gap: 10px;
}
.contact__map {
  margin-bottom: 40px;
}
.contact .contacts {
  padding: 0;
}
@media (max-width: 1023px) {
  .contact__items {
    grid-template-columns: repeat(3, auto);
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .contact__items {
    grid-template-columns: repeat(2, auto);
  }
  .contact .contact-card {
    flex-direction: column;
  }
}

.contact-card {
  display: flex;
  gap: 16px;
}
.contact-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-card__link {
  color: #101010;
}

.newsletter {
  padding: 40px 0;
  background-color: #131313;
  background-image: url(../img/newsletter/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 90% top;
}
.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.299rem + 0.86vw, 2rem);
  align-items: flex-start;
}
.newsletter__title {
  color: #fff;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.newsletter__form-contact {
  display: flex;
  gap: 16px;
}
.newsletter__form-input {
  min-width: 340px;
}
.newsletter__form-btn {
  padding: 0 40px;
}
.newsletter__form-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.newsletter__form-check-input {
  position: absolute;
  width: 0;
  height: 0;
}
.newsletter__form-check-input:checked + .newsletter__form-check:before {
  scale: 1;
}
.newsletter__form-check {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter__form-check:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
  scale: 0;
  transition: all 0.6s;
  transform: translateX(2px);
}
@media (max-width: 767px) {
  .newsletter {
    background-image: none;
  }
  .newsletter__form, .newsletter__form-contact {
    width: 100%;
  }
  .newsletter__form-contact {
    justify-content: space-between;
  }
  .newsletter__form-contact {
    flex: 1;
  }
  .newsletter__form-contact input {
    min-width: auto;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .newsletter__form-contact {
    flex-direction: column;
  }
}

.footer {
  padding-top: clamp(2.5rem, 1.247rem + 5.35vw, 5.625rem);
  background-color: #101010;
}
.footer__copy {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 0;
  border-top: 1px solid #34312D;
}
.footer__copy-text, .footer__copy-link {
  color: #fff;
}
.footer__copy-link {
  position: relative;
}
.footer__copy-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  background-color: #f57520;
  scale: 0;
  transform-origin: right;
  transition: scale 0.6s;
}
.footer__copy-link:hover:before {
  scale: 1;
  transform-origin: left;
}
@media (max-width: 600px) {
  .footer__copy {
    flex-direction: column;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.footer-top__content {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.374rem + 2.14vw, 3.125rem);
}
.footer-top__menubox {
  display: flex;
  flex-basis: 850px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 850px) {
  .footer-top__menubox {
    flex-basis: auto;
  }
}
@media (max-width: 600px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-top__content {
    flex-basis: auto;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-menu__text {
  font-size: 24px;
}
.footer-menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer-menu__item {
  position: relative;
  max-width: 220px;
}
.footer-menu__item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  background-color: #f57520;
  scale: 0;
  transform-origin: right;
  transition: scale 0.6s;
}
.footer-menu__item:hover:before {
  scale: 1;
  transform-origin: left;
}
.footer-menu__link,
.footer-menu .contact-card__link {
  color: #fff;
}
@media (max-width: 850px) {
  .footer-menu.hidden-media {
    display: none;
  }
  .footer-menu__menubox {
    flex-basis: auto;
  }
}
@media (max-width: 600px) {
  .footer-menu__text {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */