.delivery{
    padding-bottom: clamp(3rem, 0.193rem + 11.98vw, 10rem);
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }
    &__title{
        @extend %title;
        font-size: 40px;
        margin-bottom: clamp(0.5rem, 0.299rem + 0.86vw, 1rem);
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        p{
            @extend %inter-400;
            color:#34312d;
        }
        .delivery__info-selfcall{
            @extend %inter-500;
            color:#101010;
            font-size: 18px;
            margin-bottom: clamp(0.25rem, 0.15rem + 0.43vw, 0.5rem);
        }
    }
    &__info-tel{
        color:$accent-color;
    }
    &__imgbox{
        img{
            border-radius: 10px;
        }
    }
    @media(max-width:1023px){
        &__imgbox{
            img{
                object-fit: cover;
            }
        }
    }
}