.new{
    padding: clamp(2.5rem, 1.297rem + 5.13vw, 5.5rem) 0 clamp(2.5rem, 1.999rem + 2.14vw, 3.75rem);
    background-color: #f8f8f8;
    &__inner{
        display: flex;
        flex-direction: column;
        gap: clamp(2rem, 1.047rem + 4.06vw, 4.375rem);
        align-items: flex-start;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__title{
        @extend %title;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        &.more{
            .new__item{
                &:nth-child(-n+999){
                    display: block;
                }
            }
        }
    }
    &__item{
        display: none;
        &:nth-child(-n+3){
            display: block;
        }
    }
    &__more{
        color:#777;
        background-color: transparent;
        font-size: 16px;
        margin: 0 auto;
    }
    @media(max-width:1310px){
        &__items{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media(max-width:600px){
        &__items{
            grid-template-columns: repeat(1,1fr);
        }
    }
}