.password{
    &__form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    &__labelbox{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
    &__label{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__label-text{
        @extend %inter-400;
        color:#4c4c4c;
        line-height: 1.6;
    }
    &__label-input{
        display: flex;
        align-items: center;
        min-height: 58px;
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 0 15px;
        font-size: 18px;
        width: 100%;
        &:focus{
            box-shadow: 3px 3px 3px #f8f8f8;
        }
        &:active{
            box-shadow: 3px 3px 3px #f8f8f8;
        }
    }
    &__btn{
        @extend %btn;
        min-height: 46px;
        padding: 0 50px;
    }
    @media(max-width:500px){
        &__btn{
            width: 100%;
        }
    }
}