.social{
    display: flex;
    gap: 8px;
    &__link{
        display: inline-flex;
        background-color: #2E2E2E;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: $accent-color;
        }
    }
}