.termsOfUse{
    padding: clamp(2rem, 1.799rem + 0.86vw, 2.5rem) 0 clamp(3rem, 0.193rem + 11.98vw, 10rem);
    &__inner{
        display: flex;
        flex-direction: column;
        gap: clamp(2rem, 1.799rem + 0.86vw, 2.5rem);
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__content-text{
        @extend %inter-400;
        color:#101010;
        a{
            color:inherit;
        }
    }
}