.video{
    &__content{
        margin-bottom: clamp(2rem, 0.797rem + 5.13vw, 5rem);
        display: flex;
        justify-content: space-between;
    }
    &__title{
        flex-basis: 620px;
    }
    &__textbox{
        flex-basis: 510px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__title{
        @extend %title;
    }
    &__text{
        color:#101010;
        @extend %inter-400;
    }
    &__text-link{
        @extend %inter-500;
        color:#b3b3b3;
    }
    &__box{
        @extend %flexCenter;
        position: relative;
    }
    &__play{
        position: absolute;
        @extend %flexCenter;
        width: clamp(4.188rem, 2.834rem + 5.78vw, 7.563rem);
        height: clamp(4.188rem, 2.834rem + 5.78vw, 7.563rem);
        border-radius: 50%;
        border: 1px solid $accent-color;
        svg{
            width: clamp(1.938rem, 1.286rem + 2.78vw, 3.563rem);
            height: clamp(2.25rem, 1.498rem + 3.21vw, 4.125rem);
            transform: translate(8px, 1px);
            @media(max-width:500px){
                transform: translate(5px, 1px);
            }
        }
    }
    &__items{
        background-color: #2e2e2e;
        padding: 36px 0;
    }
    &__itembox{
        display: grid;
        grid-template-columns: 274px 280px 333px 264px;
        gap: 10px;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item-title{
        @extend %inter-500;
        font-size: 20px;
        color:#fff;
        position: relative;
        padding-left:60px;
        display: flex;
        align-items: center;
        &:before{
            position: absolute;
            content:"";
            left: 0;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
        }
        &--diamond{
            &:before{
                background-image: url(../img/video/icon/diamond.svg);
            }
        }
        &--check{
            &:before{
                background-image: url(../img/video/icon/check.svg);
            }
        }
        &--setting{
            &:before{
                background-image: url(../img/video/icon/setting.svg);
            }
        }
        &--delivery{
            &:before{
                background-image: url(../img/video/icon/delivery.svg);
            }
        }
    }
    &__item-text{
        color:#fff;
    }
    @media(max-width:1300px){
        &__itembox{
            grid-template-columns: repeat(2,1fr);
            gap: 32px;
        }
    }
    @media(max-width:767px){
        &__content{
            flex-direction: column;
            gap: 32px;
        }
        &__title,
        &__textbox{
            flex-basis: auto;
        }
        &__itembox{
            grid-template-columns: repeat(1,1fr);
        }
        &__img{
            img{
                height: 260px;
                object-fit: cover;
            }
        }
    }
}